{% extends 'base.html.twig' %}

{% block title %} My_Shop - connexion {% endblock %}

{% block body %}

<div class="container">
    <h1>Bienvenue sur la page de connexion !</h1>

    {% if error %}
        <div class="alert alert-danger">
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
    {% endif %}

    <form action="{{ path('security.connexion') }}" method="post">

        <div class="form-group mt-4">
            <label for="username" class="form-label mt-4">Email address</label>
            <input type="email" class="form-control" name="_username" id="username" value="{{last_username}}"  placeholder="exemple@myShop.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group mt-4">
            <label for="password" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" name="_password" id="password" placeholder="********" autocomplete="on">
        </div>
        <div class="form-group mt-4">
            <button type="submit" class="btn btn-primary">Se Connecter</button>
            <small id="" class="form-text text-muted">pas encore inscrit? <a href="{{path ('security.inscription')}}"> S'inscrire!</a></small>

        </div>
    </form>
</div>
{% endblock %}